<?xml version="1.0"?>

<model>
  <name>Plant Born Scattered</name>
  <version>1.0</version>
  <sdf version="1.5">model_no_colision.sdf</sdf>

  <author>
    <name>Adalberto Oliveira</name>
    <email>bettoigor@gmail.com</email>
  </author>

  <description>
    A plantation sample.
  </description>

</model>
