<?xml version="1.0"?>

<model>
  <name>Plant Line Scattered</name>
  <version>1.0</version>
  <sdf version="1.3">model-1_3.sdf</sdf>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Adalberto Oliveira</name>
    <email>bettoigor@gmail.com</email>
  </author>

  <description>
    A plantation sample.
  </description>

</model>
